<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\dotnetserver.exe" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="AWS_SHARED_CREDENTIALS_FILE" value="C:\inetpub\TaskMap\.aws\credentials" />
          <environmentVariable name="AWS_CONFIG_FILE" value="C:\inetpub\TaskMap\.aws\config" />
        </environmentVariables>
      </aspNetCore>
      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="https://tskmp.ru" />
          <add name="Access-Control-Allow-Credentials" value="true" />
          <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS, PATCH" />
          <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, X-Requested-With, x-signalr-user-agent" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 731b81c3-fcfb-4e47-a649-ef430051d5a9-->